:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
}

body {
  background-color: #1d2634;
  color: #9e9ea4;
}


.icon {
  /* The vertical-align property controls the vertical positioning of inline or inline-block elements relative to their parent or surrounding text. */
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}